<style>
    #viewContent {
        border-top: solid 2px #CCC;
    }

        #viewContent > form > span {
            display: block;
            color: red;
        }

        #viewContent h3 {
            border-bottom: none;
        }
</style>
@model  Afore2020.Models.ImportExcel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ ViewBag.Title = "Import Excel File into Database Table using SqlBulkCopy Class";}
<h1>Import Excel File into Database Table using SqlBulkCopy Class</h1>
<h2>
    <a href="http://www.yogihosting.com/import-excel-asp-net-mvc/">Read the tutorial on YogiHosting » </a>
    @using (Html.BeginForm("Reset", "Test2"))
    {
        <button id="reset">Reset »</button>
    }
</h2>
<div id="viewContent">
    <h3>@ViewBag.Result</h3>
    @using (Html.BeginForm("Index", "Test2", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(m => m.file, new { type = "file" })
        <button id="submitButton" type="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.file)
    }
</div>